<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">

    <nav class="navbar">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Home</a>
        </li>

        <li>
          <a href="#">About</a>
        </li>

        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="row">
      <div class="col-lg-4">
        <p>Column #1</p>
        <a href="#" class="btn btn-success">Button</a>
      </div>
      <div class="col-lg-4">
        <p>Column #2</p>
        <a href="#" class="btn btn-success">Button</a>
      </div>
      <div class="col-lg-4">
        <p>Column #3</p>
        <a href="#" class="btn btn-success">Button</a>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <p>Column #4</p>
        <a href="#" class="btn btn-success">Button</a>
      </div>
      <div class="col-lg-4">
        <p>Column #5</p>
        <a href="#" class="btn btn-success">Button</a>
      </div>
      <div class="col-lg-4">
        <p>Column #6</p>
        <a href="#" class="btn btn-success">Button</a>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <p>Column #7</p>
        <a href="#" class="btn btn-success">Button</a>
      </div>
      <div class="col-lg-4">
        <p>Column #8</p>
        <a href="#" class="btn btn-success">Button</a>
      </div>
      <div class="col-lg-4">
        <p>Column #9</p>
        <a href="#" class="btn btn-success">Button</a>
      </div>
    </div>
  </div>

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
